@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-1{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded shadow-lg
}

.to-down-1{
    animation: 1s to-down-1 forwards;
}

@keyframes to-down-1 {
    0%{
        bottom: 100vh;
    }
    100%{
        bottom: 30px;
    }
}

.flash{
    animation: flash .5s;
}

@keyframes flash {
    0%{
        color: rgba(255, 0, 0, 1);
    }

    20%{
        color: rgba(234, 252, 62, 1) ;
    }

    40% {
        color: rgba(134, 248, 82, 1);
    }

    60% {
        color: rgba(75, 216, 237, 1);
    }

    80% {
        color: rgba(162, 84, 247, 1);
    }

    100%{
        color: black;
    }
}